 <!-- Breadcrumb Area -->
 <section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-box text-center">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a routerLink="#">Home</a></li>
                        <li class="list-inline-item"><span>||</span> Wishlist</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Breadcrumb Area -->

<!-- Wishlist -->
<section class="shopping-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-table wsh-list table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="t-pro">Product</th>
                                <th class="t-price">Price</th>
                                <th class="t-qty">Stock</th>
                                <th class="t-total">Add To Cart</th>
                                <th class="t-rem"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="t-pro d-flex">
                                    <div class="t-img">
                                        <a routerLink="#"><img src="assets/images/sbar-1.png" alt=""></a>
                                    </div>
                                    <div class="t-content">
                                        <p class="t-heading"><a routerLink="#">Samsung Smart Led Tv</a></p>
                                        <ul class="list-unstyled list-inline rate">
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                        </ul>
                                        <ul class="list-unstyled col-sz">
                                            <li><p>Color : <span>Red</span></p></li>
                                            <li><p>Size : <span>M</span></p></li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="t-price">$189.00</td>
                                <td class="t-stk">In Stock</td>
                                <td class="t-add"><button type="button" name="button">Add to Cart</button></td>
                                <td class="t-rem"><a routerLink="#"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            <tr>
                                <td class="t-pro d-flex">
                                    <div class="t-img">
                                        <a routerLink="#"><img src="assets/images/sbar-3.png" alt=""></a>
                                    </div>
                                    <div class="t-content">
                                        <p class="t-heading"><a routerLink="#">Samsung Smart Led Tv</a></p>
                                        <ul class="list-unstyled list-inline rate">
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                        </ul>
                                        <ul class="list-unstyled col-sz">
                                            <li><p>Color : <span>Green</span></p></li>
                                            <li><p>Size : <span>M</span></p></li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="t-price">$129.00</td>
                                <td class="t-stk">In Stock</td>
                                <td class="t-add"><button type="button" name="button">Add to Cart</button></td>
                                <td class="t-rem"><a routerLink="#"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            <tr>
                                <td class="t-pro d-flex">
                                    <div class="t-img">
                                        <a routerLink="#"><img src="assets/images/sbar-4.png" alt=""></a>
                                    </div>
                                    <div class="t-content">
                                        <p class="t-heading"><a routerLink="#">Samsung Smart Led Tv</a></p>
                                        <ul class="list-unstyled list-inline rate">
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                        </ul>
                                        <ul class="list-unstyled col-sz">
                                            <li><p>Color : <span>Grey</span></p></li>
                                            <li><p>Size : <span>M</span></p></li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="t-price">$239.00</td>
                                <td class="t-stk">In Stock</td>
                                <td class="t-add"><button type="button" name="button">Add to Cart</button></td>
                                <td class="t-rem"><a routerLink="#"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            <tr>
                                <td class="t-pro d-flex">
                                    <div class="t-img">
                                        <a routerLink="#"><img src="assets/images/sbar-5.png" alt=""></a>
                                    </div>
                                    <div class="t-content">
                                        <p class="t-heading"><a routerLink="#">Samsung Smart Led Tv</a></p>
                                        <ul class="list-unstyled list-inline rate">
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                        </ul>
                                        <ul class="list-unstyled col-sz">
                                            <li><p>Color : <span>Blue</span></p></li>
                                            <li><p>Size : <span>M</span></p></li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="t-price">$149.00</td>
                                <td class="t-stk">In Stock</td>
                                <td class="t-add"><button type="button" name="button">Add to Cart</button></td>
                                <td class="t-rem"><a routerLink="#"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Wishlist -->


